:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: rgb(26, 26, 26);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
